body {
    color: blue
}
.tag {
    background: red;
    height: 200px;
    width: 300px;
    border-radius: 10px;

}

.paper {
    background:lightgray;
    padding: 10px;
    width: 300px;

}

p {
background: white;
}